**IPython and Shell Commands**

In [ ]:
!echo "hello world"

hello world

In [ ]:
pwd

'/content'

In [ ]:
ls

NuevoDirectorio/  sample_data/

In [ ]:
%ls

NuevoDirectorio/  sample_data/

In [ ]:
mkdir NuevoDirectorio

mkdir: cannot create directory ‘NuevoDirectorio’: File exists

In [ ]:
ls

NuevoDirectorio/  sample_data/

In [ ]:
# cd
# Para cambiar de directorio

In [ ]:
# mv
# Para mover un archivo o directorio a otro emplazamiento

**Bases de Python / Python basis**

Impresión de texto en pantalla/Print a message onto the screen

In [ ]:
print("Programación en Python. Primera clase")

Programacióne en Python. Primera clase

Comentarios/Python Comments. Comienzan con/Comments starts with a **#**. Python will ignore the rest of the line

In [ ]:
# Esto es un comentario
#This is a comment

*Variables/ Creating Variables*.
 
Sirven para almacenar información/Variables are containers for storing data values.

In [ ]:
# A variable is created the moment you first assign a value to it.
texto = "Programacióne en Python. Primera clase" # Defino una variable para almacenar la cadena de texto
print(texto)

Programacióne en Python. Primera clase

In [ ]:
Numero1 = 10
Numero2 = 20
print("La suma de Numero1 y Numero2 es: ", Numero1 + Numero2)

La suma de Numero1 y Numero2 es:  30

Nombres de variables válidas e inválidos/Valid and invalid variable names

In [ ]:
myvariable = "Hola"
my_variable = "Hola"
_my_variable = "Hola"
myYariable = "Hola"
MYVariable = "Hola"
myvariable2 = "Hola"

Nombres de variables NO validas/Invelid variable names

In [ ]:
2myvvariable = "Hola"
my-variable = "Hola"
my variable = "Hola"

SyntaxError: ignored

Asignación valores a múltiples variables a la vez/Assign value to multiple variables at the same time

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Asignar el mismo valor a múliples variables/Assign the same value to multiple variables

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Variables: unpacking
 
In Python, we are allowed to extract the values back into variables. This is called "unpacking":

Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
# Unpacking a list
fruits = ["apple", "banana", "cherry", 'Naranja']
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
# Unpacking arguments/variables given to a function

def fun(a, b, c, d):
    print(a, b, c, d)
 
# Driver Code
my_list = [1, 2, 3, 4]
 
# Unpacking list into four arguments
fun(*my_list)

1 2 3 4

Concatenación de cadenas. Una de las formas/Strings concatenation. One of the ways to do it

String Concatenation is the technique of combining two strings.

In [ ]:
# + character to add a variable to another variable
x = "un buen lenguaje para AI"
print("El Python es " + x)

In [ ]:
x = "El Python es "
y = "un buen lenguaje para AI"
z =  x + y
print(z)

El Python es un buen lenguaje para AI

String Concatenation can be done using several other ways:
* Using join() method 
* Using % operator 
* Using format() function 
* Using , (comma)

In [ ]:
# Using join() method 

var1 = "Hello"
var2 = "World"
 
# join() method is used to combine the strings
print("".join([var1, var2]))
 
# join() method is used here to combine
# the string with a separator Space(" ")
var3 = " ".join([var1, var2])
 
print(var3)

HelloWorld
Hello World

In [ ]:
# Using % operator 

var1 = "Hello"
var2 = "World"
 
# % Operator is used here to combine the string
print("% s % s" % (var1, var2))

Hello World

In [ ]:
# Using format() function 

# We'll see more examples down below
 
var1 = "Hello"
var2 = "World"
 
print("{} {}".format(var1, var2))
 
# store the result in another variable
var3 = "{} {}".format(var1, var2)
 
print(var3)

In [ ]:
# Using , (comma)
 
var1 = "Hello"
var2 = "World"
 
# , to combine data types with a single whitespace.
print(var1, var2)

Hello World

Concatenación aplicado a números/String concatenation applied to numbers

In [ ]:
x = 5
y = 10
print(x + y)

15

Errores comunes. Mezcla de números y texto

In [ ]:
x = 5
y = "Hola"
print(x + y)

**Variables. Casting**

Podemos forzar a python a asignar un tipo de dato concreto a una variable por medio del "casting"/We can force Python to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x es la CADENA '3'
y = int(3)    # y es el número entero 3
z = float(3)  # z es el número decimal 3.0

In [ ]:
print("La suma es: ", x+y)

TypeError: ignored

In [ ]:
print("La suma es: ", 2 * y)

La suma es:  6

Formateo de cadenas de texto con **format()**
 
Muchas veces no podemos controlar el contenido total de una cadena de texto, por que depende de una entrada de usuario, bbdd, etc.
 
Podemos controlarlo mediante los llamados "placeholders (**{ }**)" dentro del texto

`str.format()` allows multiple substitutions and value formatting.
This method lets us concatenate elements within a string through positional formatting.

In [ ]:
print("La suma de {} y {} es: {}".format(Numero1, Numero2, Numero1 + Numero2))

La suma de 10 y 20 es: 30

In [ ]:
cadena_texto = "La multiplicación de {} y {} es: {}"
print(cadena_texto.format(Numero1, Numero2, Numero1 * Numero2))

La multiplicación de 10 y 20 es: 200

Podemos usar nombres de variables dentro de {}, índices o vacío {}/We can use variable's names, indexes and none.

In [ ]:
Numero3 = 2
Numero4 = 3
texto2 = "El {} elevado a {} es: {}"
texto3 = ". . . Mientras que el {} elevado a {} es: {}"

In [ ]:
print(texto2.format(Numero3, Numero4, (Numero3**Numero4)), texto3.format(Numero4, Numero3, (Numero4**Numero3)))

El 2 elevado a 3 es: 8 . . . Mientras que el 3 elevado a 2 es: 9

In [ ]:
# Con índices / Using indexes
nombre = 'Pedro'
edad = 45
print("La edad de {0} es {1}".format(nombre, edad))

La edad de Pedro es 45

**Ejercicio**
 
Cambia el orden de las variables y comprueba el resultado/Change the order of the variables a notice the result you get.

In [ ]:
# Respuesta

45 es la edad de Pedro

In [ ]:
texto4 = "{1} años tiene {0}".format(nombre, edad)
print(texto4)

45 años tiene Pedro

In [ ]:
# Índices con nombres/ Indexes with names
# Muy útil en páginas web, recuperación de datos desde una BBDD, etc.
# Very useful when we retrieve information from third sources such as data bases

texto5 = "El cliente {nombre} tiene {edad} años de edad "
print(texto5.format(nombre='Juan', edad=56))

El cliente Juan tiene 56 años de edad

**Python Indentation**

In [ ]:
if Numero1 > Numero2:
  print("Número 1 > Número 2")
else:
  print("Número 2 > Número 1")

Número 2 > Número 1

Tipos de datos principales en Python/Data types in Python

*   Texto: 	str
*   Numérico: 	int, float, complex
*   Secuencias: 	list, tuple, range
*   Diccionarios: 	dict
*   Set (conjuntos): 	set, frozenset
*   Boolean: 	bool
*   Binarios: 	bytes, bytearray, memoryview

Conocer el tipo de dato de una variable/Get the type of a variable

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x = True
print(type(x))

<class 'bool'>

Ejemplos/Examples
*   x = "Hola Madrid" 	str 	
*   x = 20 	int 	
*   x = 20.5 	float 	
*   x = 1j 	complex 	
*   x = ["apple", "banana", "cherry"] 	list 	
*   x = ("apple", "banana", "cherry") 	tuple
*   x = range(6) 	range 	
*   x = {"name" : "John", "age" : 36} 	dict 	
*   x = {"apple", "banana", "cherry"} 	set 	
*   x = frozenset({"apple", "banana", "cherry"}) 	frozenset 	
*   x = True 	bool 	
*   x = b"Hola Madrid" 	bytes 	
*   x = bytearray(5) 	bytearray 	
*   x = memoryview(bytes(5)) 	memoryview

**Ejercicio**


*   Crea una lista de cuatro elementos/Create a list of four elements
*   Crea una tupla de cuatro elementos/Create a tuple of four elements
 
Crea un diccionario con tus datos personales/Create a dictionary to contain personal data
*   Nombre/Given name
*   Primer apellido/Family name
*   Segundo apellido/Family name (2nd)
*   Edad/Age
*   País de origen/Country
*   Número de teléfono/Phone

In [ ]:
# Respuesta

**Tipos numéricos/Numeric data types**
 
*    int
*    float
*    complex

Conversión de tipos en las variables/Variables type conversion

In [ ]:
x = 1    # entero
a = float(x)
print(a)

1.0

**Ejercicio**
 
Convierte y = 2.8 de float a entero/Convert y = 2.8 from float to int
 
¿Qué ocurre? What happends?

In [ ]:
# Respuesta

2

**Ejercicio**
 
Convierte x = 2  de entero a complejo/Convert x = 2 from int to complex
 
¿Qué ocurre? What happens?

In [ ]:
# Respuesta

(2+0j)

**Números aleatorios (Muy importante)/Random numbers (very important)**

In [ ]:
import random

# Returns a random float number between 0.0 and 1.0
print(random.random())

0.21249323254989272

In [ ]:
# random devuelve un número aleatorio entre 0.0 y 1.0
print(random.random())

0.8589708896460461

In [ ]:
# random.randrange(start, stop, step) 
print(random.randrange(1, 10))

In [ ]:
# Returns a random float number between a range
print(random.uniform(10.5, 75.5))

44.12386678267671

**Ejercicio**
 
Genera un número aleatorio entre 0 y 1 (coma flotante) /Generate a random number between 0 and 1 (float)
 
https://docs.python.org/3/library/random.html

In [ ]:
# Respuesta

0.1464728804591543

**Ejercicio**
 
Genera un número aleatorio entero entre 3 y 9 (ambos incluidos)/Generate an int random number betwee 3 and 9 (both included):

In [ ]:
# Respuesta

6

**Ejercicio**
 
Genera un número aleatorio entre 3 y 9 con un incremento de 2 unidades/Get a random number between 3 and 9 (both included), having an increment of 2 units.

In [ ]:
# Respuesta

3

**Cadenas/Strings**

In [ ]:
frase = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(frase)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Las cadenas (strings) son consideradas arrays o matrices/String are considered by Python as arrays or matrixes

In [ ]:
a = "¡Hola Madrid!"
print(a[1])

H

**Ejercicio**
 
Repite el ejemplo anterior, pero esta vez obten el carácter que ocupa la posición 10/Repeat the previous exercise but now get the position number 10.

In [ ]:
# Respuesta

i

Conocer la longitud de una cadena o array

In [ ]:
print(len(a))

13

Saber si una cierta cadena de texto aparece dentro de otra dada/To know whether a string in included within another.

In [ ]:
print('Hola' in a)

True

**Ejercicio**
 
Comprueba si la cadena "magna" se encuentra dentro de la cadena almacenada en la variable "frase"/Check whether the string "magna" is included into the variable "frase"

In [ ]:
print('magna' in frase)

True

Comprobar que una cadena NO está presente en otra cadena dada/Check a string is not included into another.

In [ ]:
print('magna' not in  frase)

False

Uso de esta propiedad de forma condicional/Use of thos properties in a conditional way.

In [ ]:
if "magna" not in frase:
  print("La palabra no está incluida")
else:
  print("La palabra está incluida")

La palabra está incluida

Extraer partes de una cadena de texto/Extract fragment of a string

In [ ]:
print(frase[2:15])

rem ipsum dol

**Ejercicio**
 
Extrae la cadena que existe entre las posiciones 20 y 30 de la variable `frase`/Extract the substring between positions 20 and 30 of the `frase` variable

In [ ]:
# Respuesta

or sit ame

**Ejercicio**
 
Extrae la cadena que existe entre inicio de la cadena y la posición 10 de la variable "a"/ Extract the substring between positions begining and 10 of the "a" variable.

In [ ]:
# Respuesta

¡Hola Madr

**Ejercicio**
 
Extrae la cadena de la variable `frase`, desde la posición 20 hasta el final/Extract from variable `frase` the substring from position 20 until the end.

In [ ]:
# Respuesta

t amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# Longitud de una cadena
# Length of a string

# len()
print(len(frase))

123

**Ejercicio**
 
Extrae la cadena de la variable `frase`, las 20 últimas posiciones/ Extract from variable `frase` the last 20 positions

In [ ]:
# Respuesta

dolore magna aliqua.

Usando índices negativos/Access string positions using negative indexes

In [ ]:
# magna aliqua.'''
print(frase[-5:-2])

iqu

Otras operaciones con cadenas. Convertir a mayúsculas y/o minúsculas
 
Other opererations with strings. Transform them into upper-case and lower-case

*   upper()
*   lower()

In [ ]:
print(frase[-5:-2].upper())

IQU

**Ejercicio**
 
Convierte la cadena contenida en 'frase' a mayúsculas/Transform the 'frase' into upper-cases

In [ ]:
# Respuesta

LOREM IPSUM DOLOR SIT AMET,
CONSECTETUR ADIPISCING ELIT,
SED DO EIUSMOD TEMPOR INCIDIDUNT
UT LABORE ET DOLORE MAGNA ALIQUA.

**Ejercicio**
 
Convierte la cadena contenida en 'frase' a minúsculas/Transform the 'frase' into lower-cases

In [ ]:
# Respuesta

lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Eliminar espacios en blanco, strip()/Remove white spaces with strip()

In [ ]:
b = " ¡Hola Madrid! "
print(b.strip()) # Elimina los espacios en blanco al inicio y final

¡Hola Madrid!

Reemplazar una cadena por otra, dentro de una cadena dada, replace('origen', 'reemplazo')
 
String replace() method. The replace() method replaces a specified phrase with another specified phrase.

In [ ]:
print(b.replace('Madrid', 'Palencia'))

 ¡Hola Palencia!

**Ejercicio**
 
En la cadena de la variable `frase`, reemplaza 'Lorem ipsum' por 'EAE'
 
Replace 'Lorem ipsum' by 'EAE' in 'frase' variable

In [ ]:
# Respuesta

¡Hola Madrid!

Dividir cadenas split() / Split strings with split()

In [ ]:
print(frase.split(","))

['Lorem ipsum dolor sit amet', '\nconsectetur adipiscing elit', '\nsed do eiusmod tempor incididunt\nut labore et dolore magna aliqua.']

Inclusión de caracteres especiales en una cadea con '`\`' / Include special characters into a string with '`\`'.

In [ ]:
txt = "Lorem Ipsum es \"simplemente\" el texto de relleno de las imprentas y archivos de texto."
print(txt)

Lorem Ipsum es "simplemente" el texto de relleno de las imprentas y archivos de texto.

Otros caracteres de escape / Other special scape characters
*   \' 	Single Quote 	
*   \\ 	Backslash 	
*   \n 	New Line 	
*   \r 	Carriage Return 	
*   \t 	Tab 	
*   \b 	Backspace 	
*   \f 	Form Feed 	
*   \ooo 	Octal value 	
*   \xhh 	Hex value

In [ ]:
# Inserción de tabuladores
# Tab insertion

txt = "Lorem Ipsum es \t el texto de relleno de las imprentas y archivos de texto."
print(txt)

Lorem Ipsum es 	 el texto de relleno de las imprentas y archivos de texto.

**Ejercicio**
 
Repite el ejercicio anterior, pero en este caso separa la frase en dos lineas (salto de linea, \n) por la misma posición
 
Repite the last exercise, but in this case split the string into two parts from the same position, but this time, using (line break '\n').

In [ ]:
# Respuesta

Lorem Ipsum es
 el texto de relleno de las imprentas y archivos de texto.

**Operadores aritméticos en Python / Arithmetical operators in Python**
 
Operador 	Nombre 	Ejemplo
 
--------+-------+--------
* \+ 	Addition 	x + y
* \- 	Subtraction 	x - y 	
* \*	Multiplication 	x * y 	
* \/ 	Division 	x / y 	
* \% 	Modulus 	x % y 	
* \** 	Exponentiation 	x ** y 	
* \// 	Floor division 	x // y

**Operadores de asignación en Python / Arithmetical operators in Python**
 
Operador Nombre Ejemplo
* \= 	x = 5 	x = 5 	
* \+= 	x += 3 	x = x + 3 	
* \-= 	x -= 3 	x = x - 3 	
* \*= 	x *= 3 	x = x * 3 	
* \/= 	x /= 3 	x = x / 3 	
* \%= 	x %= 3 	x = x % 3 	
* \//= 	x //= 3 	x = x // 3 	
* \**= 	x **= 3 	x = x ** 3 	
* \&= 	x &= 3 	x = x & 3 	
* \|= 	x |= 3 	x = x | 3 	
* \^= 	x ^= 3 	x = x ^ 3

**Operadores de comparación en Python**
 
Operador Nombre Ejemplo
* \== 	Equal 	x == y 	
* \!= 	Not equal 	x != y 	
* \> 	Greater than 	x > y 	
* \< 	Less than 	x < y 	
* \>= 	Greater than or equal to 	x >= y 	
* \<= 	Less than or equal to 	x <= y

**Operadores lógicos / Logical operators**
* and  	Returns True if both statements are true 	x < 5 and  x < 10 	
* or 	Returns True if one of the statements is true 	x < 5 or x < 4 	
* not 	Reverse the result, returns False if the result is true 	not(x < 5 and x < 10)

**Operadores de pertenencia / Membership operators**
 
*  **in**  	Returns True if a sequence with the specified value is present in the object 	x in y 	
*  **not in** 	Returns True if a sequence with the specified value is not present in the object 	x not in y

**Listas / Lists**
 
Los elementos aparecen entre [ ]. Elements appear between []

In [ ]:
frutas = ["apple", "banana", "cherry"]
frutas

['apple', 'banana', 'cherry']

In [ ]:
# Acceso elementos de una lista
# Access list's elements

print(frutas[1])

banana

In [ ]:
frutas[1] = "kiwi"
frutas

['apple', 'kiwi', 'cherry']

**Tuplas  / Tuples**
 
Los elementos aparecen entre ( ). Elements appear between ()
 
No pueden ser modificados. Elements cannot be modified

In [ ]:
frutas = ("apple", "banana", "cherry")
frutas

('apple', 'banana', 'cherry')

In [ ]:
# Acceso elementos de una tupla
# Access tupla's elements

print(frutas[1])

banana

In [ ]:
frutas[1] = "kiwi"
frutas

**Sets**
 
Sets son una colección de datos asignadas a una variable no ordenados ni indexados. / Sets a collection of data neither indexed nor sorted

In [ ]:
frutas = {"apple", "banana", "cherry"}
frutas

{'apple', 'banana', 'cherry'}

**Diccionarios / Dictionaries**
 
Sirven para almacenar datos en formato (clave, valor) / Used to store data in pairs (key, values)

In [ ]:
ficha_coche = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
# Acceso a los datos de un diccionario
# Access to dictionary data 
print(ficha_coche['model'])

Mustang

**Elementos de control de flujo del programa / Program flow control statements**

If ... Else, Elif y Else

In [ ]:
a = 33
b = 200
if b > a:
  print("b es mayor que a")

b es mayor que a

**Ejercicio**
 
Repite el ejercicio anterior pero contemplando los casos de:
 
Repite the last exercise, but now control the following conditions:
* a = b
* a < b

In [ ]:
a = 333
b = 200

# Respuesta

b es menor que b

Forma corta condicional para if / Short form of if statement

In [ ]:
if a > b: print("a mayor que b")

a mayor que b

Forma corta para else / Short form of else statement

In [ ]:
print("A") if a > b else print("B")

A

Tres condiciones en una línea / Three conditions in inline form

In [ ]:
a = 20
b = 20
print("a mayor") if a > b else print("a igual a b") if a == b else print("b mayor")

a igual a b

Operadores lógicos and y or / Logical operators "and" and "or"

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Las dos condiones son verdaderas")

Las dos condiones son verdaderas

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("Almenos una condición es verdadera")

Almenos una condición es verdadera

#### Funciones en Python / Python - Functions

Una función es un bloque de código organizado y reusable, destinado a realizar una sola acción o un único tipo de acción.
 

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

Sintaxis / Syntax

def functionname( parameters ):
 
   "function code"

   return [expression]

Keyword arguments

Keyword arguments are related to the function calls. When you use keyword arguments in a function call, the caller identifies the arguments by the parameter name.

In [ ]:
# Function definition is here
def printme( str ):
   "This prints a passed string into this function"
   print (str.upper())
   return;

# Now you can call printme function
printme( str = "My string")

MY STRING

In [ ]:
# Function definition is here
def printinfo( name, age ):
   "This prints a passed info into this function"
   print ("Name: ", name)
   print ("Age ", age)
   return;

# Now you can call printinfo function
printinfo( age=50, name="miki" )

Name:  miki
Age  50

Default arguments

A default argument is an argument that assumes a default value if a value is not provided in the function call for that argument. The following example gives an idea on default arguments, it prints default age if it is not passed

In [ ]:
# Function definition is here
def printinfo( name, age = 35 ):
   "This prints a passed info into this function"
   print ("Name: ", name)
   print ("Age ", age)
   return;

# Now you can call printinfo function
printinfo( age=50, name="miki" )
printinfo( name="miki" )

Name:  miki
Age  50
Name:  miki
Age  35

**Ejercicio**
 
Construye una función que reciba una lista de elementos como parámetro y devuelva (imprime el número) el número de elementos de la lista pasada.
 
Build a function that receives a list of elements as an unique parameter and returns (prints) the number of elements in the list received.

In [ ]:
# Respuesta

4