### **Bucles de control del programa**

### Bucles For

### Iteración a través de una lista

In [1]:
miLista = ["Coche", "Casa", "Playa"]
for x in miLista: # Toma cada uno de los elementos y los asigna a la variable x
  print(x) # Imprime la variable x

Coche
Casa
Playa

### Iteración a través de los elementos de una cadena

In [ ]:
for x in "EAE Business School": # Toma elemento a elemento de la cadena y lo asigna a la variable x
  print(x) # Imprime la variable x.

E
A
E

B
u
s
i
n
e
s
s

S
c
h
o
o
l

### Ejercicio.
 
Repite el ejercicio anterior pero, imprime la cadena tal como pararece en la lista.

In [2]:
# Respuesta
for x in "EAE Business School": # Toma elemento a elemento de la cadena y lo asigna a la variable x
  print(x, end='') # Imprime la variable x.

EAE Business School

### Detener la ejecución con `break` de un bucle dada una condición

In [ ]:
miLista =["Coche", "Casa", "Playa"]
for x in miLista:
  print(x)
  if x == "Casa":
    break

Coche
Casa

### Establecer saltos en la secuencia del bucle mediante `continue`

In [ ]:
intLista =[1, 2, 3, 4, 5]
for x in intLista:
  if x == 3:
    continue
  print(x)

1
2
4
5

### Ejercicio
 
Suma los dos primeros y los dos últimos elementos de la lista

In [3]:
intLista =[1, 2, 3, 4, 5]

# Respuesta

### Iterar dentro de un rango de valores con `range()`

In [4]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

### Iteracción entre dos valores de un rango

In [6]:
for x in range(8, 10):
  print(x)

8
9

### Interacción modificando el tamaño del paso

In [ ]:
for x in range(0, 10, 3):
  print(x)

0
3
6
9

### Ejercicio
 
Cuenta desde 10 hasta 0 usando `range`

In [8]:
# Respuesta
for x in range(10, -1, -1):
  print(x)

10
9
8
7
6
5
4
3
2
1
0

### Ejercicio.
 
Recorre la lista siguiente usando `range`. Muestra el contenido y su ordinal asociado

In [10]:
intLista =[1, 2, 3, 4, 5]

# Respuesta
for i in range(5):
  print(i, intLista[i])

0 1
1 2
2 3
3 4
4 5

### Estructuras de control del programa/Claúsulas de decisión

In [11]:
  
numero = 99
if(numero <= 12): 
    print("Num menor que 12") 
elif(numero >= 30 and numero <=100): 
    print("Número entre 30 y 100") 
else: 
    print("Número mayor de 100")

Número entre 30 y 100

### Ejeción de una instrucción al final de un ciclo

In [ ]:
for x in range(6):
  print(x)
else:
  print("Ejecuta al finalizar el bucle")

0
1
2
3
4
5
Ejecuta al finalizar el bucle

### Bucles anidados

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

[print(adjetivo, fruta) for adjetivo in adj for fruta in fruits]

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

[None, None, None, None, None, None, None, None, None]

### Ejercicio
 
Escribe un bucle for in-line tal que imprima la siguiente lista de listas en orden creciente, esto es: 1,2,3,...

In [ ]:
non_flat = [ [1,2,3], [4,5,6], [7,8], [9], [10] ]

# Respuesta

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Ejercicio
 
Repite el ejercicio anterior, pero imprimiento SÓLO las listas con más de 2 elementos

In [ ]:
# Respuesta

[1, 2, 3, 4, 5, 6]

### El método `enumerate()` en Python. Nos permite mostrar no sólo el elemento de la lista, sino también su ordinal correspondiente

In [ ]:
for i,j in enumerate(intLista):
  print(i,j)

0 1
1 2
2 3
3 4
4 5

### Bucles `while`

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1 # IMPORTATE, sino, entrará en bucle infinito

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### Ejercicio
 
Usando un bucle `while`, muestra la combinaciónd de adjetivos y frutas del las listas siguientes, de la misma forma que hicimos con los bucles `for`

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

# Respuesta

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### **Creación de funciones**
 
# Nueva sección

### Crear una función

In [ ]:
# Las funciones se definen con la palabra reservada `def` en la primera línea y esta, finaliza con `:`
def my_function():
  print('Has llamado a la función: ' + my_function.__name__) 

# Para que una función se ejecute, esta ha de ser invocada/llamada en algún punto del código
my_function()

Has llamado a la función: my_function

### Pasar argumentos a una función

In [ ]:
def my_function(nombre):
  print('El nombre introducido es: ' + nombre)

my_function('Pepe')
my_function('John')

El nombre introducido es: Pepe
El nombre introducido es: John

### Ejercicio
 
Construye una función que realice la suma de dos números

In [ ]:
# Respuesta

3

## Ejercicio
 
Construye una función que realice las siguientes operaciones matemáticas:
* Suma
* Resta
* Multiplicación
* División
 
En función de los parámetros que reciba al ser llamada.

In [ ]:
# Respuesta

8

### Pasar un número arbitrario de argumentos a una función `*args`. Usando `*` que la función reciba una tupla de números

In [ ]:
def my_function(*numeros):
  for i in numeros:
    print(i)

my_function(5, 2, 3)

5
2
3

### Listas como argumentos de una función

In [ ]:
def my_function(food):
  for x in food:
    print(x, end=' ')

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple banana cherry

### Ejercicio
 
Elabora una función que reciba una lista de elementos y los devuelva ordenados

In [ ]:
fruits = ["cherry", "banana", "apple", "orange"]

# Respuesta

['apple', 'banana', 'cherry', 'orange']

### Ejercicio
 
Confecciona una función que reciba una tupla de números y devuelva el menor

In [ ]:
# Ejemplo 5, 1, 2, 3

# Respuesta

El número más pequeño es:  1

### Pasar argumentos a una función sin importa el orden de los mismos con `key = value`

In [ ]:
def my_function_key_value(nombre, calle, cod_postal):
  print("La dirección es: " + nombre + ' ' + calle + ' ' + cod_postal)

my_function_key_value(cod_postal="28080",calle='Gran Vía 23', nombre='Gutavo Zulupeta')

La dirección es: Gutavo Zulupeta Gran Vía 23 28080

### Pasar a la función un número general de argumentos identificados con su clave`**kwargs`

In [ ]:
def my_function(**destinatario):
  print("2º apellido: " + destinatario["apellido2"])

my_function(nombre = "John", apellido1 = "Rodríguez", apellido2 = "Gómez") # El orden en que se introducen no importa

2º apellido: Gómez

## Ejercicio
 
Realiza una función que imprima en el orden correcto una dirección con 5 y con 7 argumentos:

In [ ]:
# Respuesta

Dirección:  John Rodríguez Gómez Bogotá 12 Izq. A 3º 6ª

### Devolución de valores desde una función con `return`

In [ ]:
def cuadrado(x):
  return x**2

print("El cuadrado es: ", cuadrado(2))

El cuadrado es:  4

In [ ]:
frase = "Una frase de ejemplo"
print(len(frase))

def leeFrase(entrada):
  for i in range(len(entrada)):
    print(entrada[i], end='')

leeFrase(frase)

20
Una frase de ejemplo

### Recursividad en funciones

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

tri_recursion(6)

1
3
6
10
15
21

21

In [ ]:
def factorial(num):
  if num == 1:
    return num
  else:
    return num * factorial(num - 1)

print(factorial(3))

6

### Ejercicio
 
Usando recursividad, calcula la potencia de un número base^exponente
 
Ejemplo: 4^3 = 64

In [ ]:
# Respuesta

64

### **Funciones anónimas o lambda**

In [ ]:
x = lambda a : a*a

print(x(4))

16

### Funciones anónimas con filtrador `filter()`

In [ ]:
# filter toma dos argumentos, una función y una lista de valores
# Devuelve una lista con los valores de entrada que cumplen la condición
lista = [2,3,4,5,6]
resultados = list(filter(lambda x : (x > 4), lista))
print(resultados)

[5, 6]

In [ ]:
# map() toma dos argumentos, una función y una lista de valores
# Devuelve una lista con los valores de entrada tras aplicar la función lambda
lista = [2,3,4,5,6]
resultados = list(map(lambda x : (x * x), lista))
print(resultados)

[4, 9, 16, 25, 36]

In [ ]:
lista = [2,3,4,5,6]
resultados = list(map(lambda x : x if (x > 5) else x*2 , lista))

print(resultados)

[4, 6, 8, 10, 6]

### Funciones anónimas con filtrador `map()`

### Implementación de estructuras de control SWITCH CASE DEFAULT

In [ ]:
def switch_demo(argument):
  switcher = {
      1: "January",
      2: "February",
      3: "March",
      4: "April",
      5: "May",
      6: "June",
      7: "July",
      8: "August",
      9: "September",
      10: "October",
      11: "November",
      12: "December"
      }
  print(switcher.get(argument, "Mes no válido"))

switch_demo(10)

October

In [ ]:
def switch_demo_II(argument):
  switcher = {
      1: "January",
      2: "February",
      3: "March",
      4: "April",
      5: "May",
      6: "June",
      7: "July",
      8: "August",
      9: "September",
      10: "October",
      11: "November",
      12: "December"
      }
  print(switcher.get(argument, "Mes no válido"))

switch_demo(10)

### Arrays en Python

Método 	Descripción
 
-----------+---------------------------------
* append() - Añade elementos al final de un array
* clear()	- Elimina todos los elementos. Pero sigue existiendo
* copy()	- Genera una copia
* count()	- Devuelve el número de elementos con una etiqueta dada
* extend()	- Añade elementos de un array al final de otro
* index()	- Devuelve el índice de un elemento con una etiqueta determinada
* insert()	- Añade un elemento al array, en la posición determinada
* pop()	- Elimina el elemento que se encuentra en la posición dada
* remove()	- Elimina el elemento con la etiqueta dada
* reverse()	- Devuelve el array ordenado de forma inversa
* sort()	- Ordena un array

### Tamaño de un array

### Ejercicio.
 
Determina el número de elementos del array

In [ ]:
coches = ["Renault", "Toyota", "Ford", "Nissan", "Volvo", "BMW"]

# Respuesta

6

### Acceso a los elementos de un array

### Ejercicio
 
Extrae el primer elemento del array anterior

In [ ]:
# Respuesta

'Renault'

### Iterar a lo largo de los elementos de un array

### Ejercicio
 
Itera a lo largo del array anterior, mostrando todos los elementos en orden y separados por coma `,`

In [ ]:
# Respuesta

Renault,Toyota,Ford,Nissan,Volvo,BMW,

### Añadir elementos a un array

### Ejercicio
 
Añade al array anterior la marca `Honda`

In [ ]:
# Respuesta

### Eliminar elementos de un array mediante su índice de posición

### Ejercicio
 
Elimina el primer elemento de array anterior

In [ ]:
# Respuesta

'Toyota'

### Eliminar elementos de un array mediante su etiqueta

### Ejercicio

Elimina la marca `Honda` del array anterior

In [ ]:
# Respuesta

### Eliminar todos los elementos del array.
 
No elimina el array

### Ejercicio
 
Elimina todos lo elementos del array anterior

In [ ]:
# Respuesta

### Copiar un array

### Ejercicio
 
Realiza una copia de todos lo elementos del array anterior

In [ ]:
# Respuesta

['Honda']

### Contar los elementos con una etiqueta específica.

### Ejercicio
 
Cuenta todos lo elementos del array anterior de la marca `Honda`

In [ ]:
# Respuesta

1

### Añadir elementos de una lista a otra lista

### Ejercicio
 
Añade las marcas de 3 automóviles deportivos al array anterior

In [ ]:
# Ejemplo: Ferrary, Aston Martin, etc.

# Respuesta

['Renault',
 'Toyota',
 'Subaru',
 'Ford',
 'Nissan',
 'Volvo',
 'BMW',
 'Ferrary',
 'Aston Martin',
 'Lamborghini']

### Recuperar el índice del elemento de un array

### Ejercicio
 
Recupera la posición que ocupa una de las marcas.

In [ ]:
# Ejemplo: Lamborghini

# Respuesta

3

### insertar un nuevo elemento en una posición dada

### Ejercicio
 
Inserta al marca Subaru en la posición 2 del array anterior

In [ ]:
# Respuesta

['Renault', 'Toyota', 'Subaru', 'Ford', 'Nissan', 'Volvo', 'BMW']

### Revertir el orden de elementos del array

### Ejercicio
 
Recupera todos los elementos del array anterior, pero en orden inverso

In [ ]:
# Respuesta

['BMW', 'Volvo', 'Nissan', 'Ford', 'Toyota', 'Renault']