# Intro python data science
## Pr치ctica 02: Listas

Vamos a ver:
* Punto 1: crear listas con diferentes tipos de datos
* Punto 2: seleccionar elementos de listas
* Punto 3: agregar/eliminar elementos de listas

Extra: c칩mo crear dataframe de una lista

# Punto 1:

In [ ]:
# crear listas con diferentes tipos de datos

# structure : | nombre (string) | millones_usuarios (int) | pertenece_fbk (bool) |

In [1]:
# datos de RRSS 2020
fb=['facebook',2449,True]
tw=['twitter',339,False]
ig=['instagram',1000,True]
yt=['youtube',2000,False]
lk=['linkedin',663,False]
wp=['whatsapp',1600,True]

fuente: https://www.juancmejia.com/marketing-digital/estadisticas-de-redes-sociales-usuarios-de-facebook-instagram-linkedin-twitter-whatsapp-y-otros-infografia/

# Punto 2:

In [ ]:
# seleccionar elementos de listas

In [2]:
# los : pueden ahorrar conteos
nombres_rrss=['facebook','twitter','instagram','youtube', 'linkedin','whatsapp']

In [4]:
# el conteo empieza en cero. Nomrbe completo de Facebook
nombres_rrss[0]

'facebook'

In [6]:
# seleccionar dos elementos
nombres_rrss[0:3]

['facebook', 'twitter', 'instagram']

In [ ]:
# utilizar los dos puntos : para seleccionar varios elementos seguidos

In [8]:
# seleccionar desde atras
nombres_rrss[-2]

'linkedin'

# Punto 3:

In [ ]:
# agregar elementos de listas

In [9]:
fb.append(2006)

In [10]:
fb

['facebook', 2449, True, 2006]

In [11]:
tw.append(2006)
ig.append(2010)
yt.append(2005)
lk.append(2003)
wp.append(2009)

fuente https://interestingengineering.com/a-chronological-history-of-social-media

In [ ]:
# eliminar elementos de listas

# Extra: c칩mo crear dataframe de una lista
(m치s en pr칩ximos v칤deos)

In [12]:
# creando listas con todas las RRSS
lista_rrss=[fb,tw,ig,yt,lk,wp]

In [13]:
# mostrando en notebook
lista_rrss

[['facebook', 2449, True, 2006],
 ['twitter', 339, False, 2006],
 ['instagram', 1000, True, 2010],
 ['youtube', 2000, False, 2005],
 ['linkedin', 663, False, 2003],
 ['whatsapp', 1600, True, 2009]]

In [16]:
# adelanto a DataFrames (pr칩ximas clases)
import pandas as pd

pd.DataFrame(lista_rrss,columns=['nombre','cantidad','es fb','a침o'])

      nombre  cantidad  es fb   a침o
0   facebook      2449   True  2006
1    twitter       339  False  2006
2  instagram      1000   True  2010
3    youtube      2000  False  2005
4   linkedin       663  False  2003
5   whatsapp      1600   True  2009

# Gracias!
## Espero que te lleves algo 칰til de este notebook 游

Para m치s videos de programaci칩n para ciencia de datos

https://www.youtube.com/c/RafaGonzalezGouveia/

Si quieres realizar alguno de los cursos online de pago, ve a:

https://cursos.gonzalezgouveia.com